@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.todolistapp {
  font-family: "Dancing Script";
}
.container {
  margin-top: 20px;
  text-align: center;
  color: blueviolet;
  box-shadow: 5px 4px 8px 4px rgba(220, 73, 240, 0.2);
  border-radius: 100px;
}

img {
  width: 100px;
} 

.logo {
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
